html,
body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: beige;
  // background: #333;
}
#container {
  width: 150px;
  height: 150px;
  background: pink;