* {
  font-family: "VT323", monospace;
  color: white;
}

html,
body {
  height: 100%;
}
body {
  background-size: cover;
  background-image: url(/images/sailorbg.png);
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: beige; */
  /* background: #333; */
}
.flex-container {
  align-items: center;
  display: flex;
  gap: 0.4vw;
  border-radius: 10px;
  padding: 0.4vw;
  width: 70vw;
  height: 30vh;
  background: rgba(255, 255, 255, 0.424);
  transition: width 1.5s, height 1.5s;
}

.flex-item {
  border-radius: 10px;
  background-color: rgba(255, 188, 188, 0.8);
  height: 30vh;
  width: 25vw;
  text-align: center;
  border: 2px solid blacks;

  transition: width 1.5s, height 1.5s;
  background-size: cover;
}
.flex-item:hover {
  width: 40vw;
  height: 35vh;
}
.flex-container:hover {
  width: 60vw;
  height: 35vh;
}
.item1 {
  background-image: url(/images/moon.png);
}
.item2 {
  background-image: url(/images/mercury.png);
}
.item3 {
  background-image: url(/images/mars.png);
}
.item4 {
  background-image: url(/images/jupiter.png);
}
.item5 {
  background-image: url(/images/venus.png);
}

/* The character info part */
.screen-container {
  border: solid rgba(255, 192, 203, 0);
}

#sailor-moon-test {
  height: 200px;
  width: 200px;
  margin-top: 5px;
}

#character-screen {
  background: rgba(255, 255, 255, 0.424);
  align-items: center;
  border-radius: 10px;
  display: none;
}

#character-stats {
  background: rgba(255, 255, 255, 0.725);
  align-items: center;
  border-radius: 10px;
}

#char-name {
  opacity: 0;
  color: white;
  text-align: center;
}

.button-container {
  border: solid transparent;
  margin: right;
}

.sailor-forms-buttons {
  background: rgba(255, 255, 255, 0.725);
  align-items: center;
  border-radius: 10px;
}
